/*komentaar*/
/* Общие стили для всего контента */
body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стили для заголовка */
header {
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 20px 0 ;
}

/* Стили для навигационного меню */
nav {
    background-color: #333;
    text-align: center;
   
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
}

nav li {
    display: inline;
    margin-right: 20px;
    
}

nav a {
    text-decoration: none;
    color: white;
  
}

/* Стили для основного содержимого */
main {
    padding: 20px;
}

/* Стили для подвала */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Дополнительные стили для разделов на странице */
.sec_1, .sec_2, .sec_3 {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


header h1{
    font-family: Algerian;
    font-size: larger;
    letter-spacing: 0.3cm;
    border-bottom: solid 1pt red; /*dotted dashed double*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}




li a:hover{
    background-color: orange;
    color: purple;
    text-decoration: underline
}*
/**/
.nimekiri {
    list-style-type: circle;
    margin:0; /*отступ*/
    padding: 20px; /*väli tekstist kuni */
    background-color: white;
}
img#pilt1{
    width: 20%;
}
img#pilt2{
    width: 25%;
    border: dotted 2pt red;
}
img#pilt3{
    width: 30%;
    border: solid 1pt darkblue;
    border-radius: 160px;
}

.sec_1 {
    background-color: rgba(255, 99, 71, 0.5);
    font-family: "Lucida Console";
    text-shadow: 1px 1px #ff0000;
    width: 50%;
    border-radius: 10px;
    border-bottom-color: deeppink;
}


.sec_2 {
    background-color: darkgray;
    border: inset 3pt black;
    font-size: larger;
    text-shadow: 3px 1px #ff0000;
    border-right: red 20px;
    width: 40%;
    border-bottom-color: deeppink;
    border-radius: 90px;
}


.sec_3{
    border: dashed 3pt yellow;


    color: #202c2d;
    text-shadow:
            0 1px #808d93,
            -1px 0 #cdd2d5,
            -1px 2px #808d93,
            -2px 1px #cdd2d5,
            -2px 3px #808d93;
    background-color: powderblue;
    opacity: 60%;
    width: 70%;
    border-collapse: revert;


}

