/*komentaar*/
header{
    color: wheat;
    background-color: #333D51;
    width: 60%;
    margin-left: 220px;
}
header h1{
    font-family: Algerian;
    font-size: larger;
    letter-spacing: 0.3cm;
    border-bottom: solid 2pt deeppink; /*dotted dashed double*/
}
li{
    float: left;


}
main {
    margin-left: 220px;


}
body{  background-color: #333D51 ;}
nav li {
    display: block;
    text-align: left;


}
nav li a {
    font-size: 20px;
    text-decoration: none;

    color: black;
    padding: 10px 5px;
    border-bottom: solid 1px red;
    border-bottom-right-radius: 90px; /*Zakruglenie*/
    font-variant: small-caps;
    font-weight: bold;
    display: block;
    width: 90%;
    box-shadow: 0 5px 4px 0 rgba(0,0,0,.2); /*Shadows*/
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column; /* Make the menu vertical */
    background-color: #f4d12f ;
}

nav li a:hover {
    background-color: orange;
    color: #202c2d;

    text-decoration: underline;
}
/**/
.nimekiri {
    list-style-type: circle;
    margin:0; /*отступ*/
    padding: 20px; /*väli tekstist kuni */
    background-color: white;
}
img#pilt1{
    width: 20%;
}
img#pilt2{
    width: 25%;
    border: dotted 2pt red;
}
img#pilt3{
    width: 30%;
    border: solid 1pt darkblue;
    border-radius: 160px;
}

.sec_1 {

    font-family: "Lucida Console";
    text-shadow: 2px 1px #ff0000;
    width: 100%;
    border-radius: 10px;
    border-bottom-color: deeppink;
    color: #CBD0D8 ;
    font-size: large;
}


.sec_2 {
    background-color: darkgray;
    border: inset 3pt black;
    font-size: larger;
    text-shadow: 3px 1px #ff0000;
    border-right: red 20px;
    width: 50%;
    border-bottom-color: deeppink;
    border-radius: 50px;
}
.h2sec{
    left: 600px;
    color: #CBD0D8 ;
}

.sec_3{
    border: dashed 3pt yellow;


    color: #202c2d;
    text-shadow:
            0 1px #808d93,
            -1px 0 #cdd2d5,
            -1px 2px #808d93,
            -2px 1px #cdd2d5,
            -2px 3px #808d93;
    background-color: powderblue;
    opacity: 60%;
    width: 70%;
    border-collapse: revert;


}


