
@media screen and (max-width: 601px) {


    .mnu_top{
        display: none;
    }
    .hamburger {
        display: none;
      }
    
}
@media screen and (max-width: 600px) {


    .mnu_top{
        display: none;
    }
    .hamburger {
        display: block;
        
    }
    header{
        padding: 0 15px;
    }
    header .cont{
        position: relative;
       
    }

    .mnu_top {
        display: none;
        position: absolute;
        width: 100px;
        left: 0;
        top: 90px;
        text-align: left; 
        width: 110;
    }

    .mnu_top li {
        display: block;
        margin: 10px;
        width: 100%;
        
    }

    .mnu_top li a {
        display: block;
        color: white;
        text-align: left;
        padding: 1px 1px;
        text-decoration: none;
    }
    

    
}

/* Для планшетов и десктопов */
@media screen and (min-width: 601px) {

}