ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav {
    background-color: var(--menu-bg-color);
    text-align: center;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
#eesti_kuud, #timezone {
    margin: 1px;
    padding: 2%;
    width: 30%;
    border: solid 1pt grey;

}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
header {
    background-color: #fff;
    color: var(--main-text-color);
    text-align: center;
    padding: 20px 0;
}
:root {
    --main-bg-color: #f0f0f0;
    --main-text-color: #333;
    --menu-bg-color: #333;
    --menu-text-color: white;
    --link-hover-color: orange;
    --link-hover-text-color: purple;
}

/* Общие стили для всего контента */
body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: var(--main-bg-color);
}
#first {
    margin: 10px;
    padding: 2%;
    width: 20%;
    border: solid 1pt grey;
    float: left;
}
#right {
    float: left;
    margin: 10px;
    padding: 2%;
    width: 25%;
    border: solid 1pt grey;
}
